@media only screen and (min-device-width: 1024px) and (max-device-width: 1366px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: landscape) 
{
	.sitebannercontent 
  {
		padding-top: 11vh;
		padding-bottom: 7vh;
	}

}

@media only screen and (min-device-width: 1024px) and (max-device-width: 1366px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait) 
{
	.sitebannercontent 
  {
		padding-top: 14vh;
		padding-bottom: 10vh;
	}
}

@media only screen and (device-width: 768px) 
{
	.sitebannercontent {
		padding-top: 10vh;
		padding-bottom: 5vh;
	}

}

@media only screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation: portrait) 
{
	.sitebannercontent {
		padding-top: 9vh;
		padding-bottom: 3vh;
	}

}

@media only screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation: landscape) 
{
	.sitebannercontent {
		padding-top: 13vh !important;
		padding-bottom: 14vh !important;
	}
}

@media (max-width:1750px)
{
  .homebannerbg::before
  {
    background-position: bottom right 126px;
  }
}

@media (max-width:1600px)
{
  .leftsideformbox
  {
    padding: 30px 49px;
  }
  .formboxbg .h2 {
    font-size: 29px;
    line-height: 37px;
  }
  .sitebannercontent h2{
    font-size: 45px;
  }
}

@media (max-width:1500px)
{
  .homebannerbg::before {
    background-position: bottom right 45px;
  }

}

@media (max-width: 1400px) 
{
  .homebannerbg .heading-title {
    font-size: 36px !important;
    line-height: 53px !important;
  }
  .heading-title {
    font-size: 33px !important;
  }
  .formboxbg .h2 {
    font-size: 28px;
    line-height: 43px;
  }
  .sitebannercontent h2 {
    font-size: 43px;
    line-height: 59px;
  }
}

@media (max-width: 1300px) 
{
  .appimg img {
    max-width: 150px;
  }
  .downloadbg .h4 {
    font-size: 17px;
  }
  .ourimg {
    max-width: 80px;
  }
  .chooseusdiv {
  }
  .homebannerbg .bannersubmin {
    font-size: 42px;
  }
  .banner-img {
    transform: translateX(0px);
  }
  .homebannerbg::before
  {
    height: 481px;
  }
}

@media (max-width: 1200px) 
{
  .headbg {
    padding: 9px 0px;
  }
  .homebannerbg .sitebannercontent {
    padding-top: 8vh;
    padding-bottom: 7vh;
  }  
  .sub-heading {
    font-size: 19px;
    line-height: 27px;
  }
  .container{
    width: 100%;
    max-width: 100%;
  }
  .homebannerbg .bannersubmin {
    font-size: 38px;
  }
  .homebannerbg .heading-title {
    font-size: 35px !important;
    line-height: 54px !important;
  }
  .chooseusbox img {
    max-width: 44px;
  }
  .chooseusdiv > div {
    padding-top: 35px;
    margin: 0px 6px;
  }
  .howitworkbg .nav-pills .nav-link {
    padding: 15px 18px;
  }
  .formboxbg .h2 {
    font-size: 27px;
    line-height: 40px;
  }
  .leftsideformbox {
    padding: 30px 20px;
  }
  p,
  .content {
    font-size: 15px;
    line-height: 26px;
  }
  .h-box .flexbox > div{
    padding: 25px 15px;
  }
  .contenthowbox {
    padding-right: 90px;
  }
  .hwbox>div:nth-child(even)>div:last-child
  {
    padding-left: 90px;
  }
  .contenthowbox .sub-heading {
    font-size: 22px;
  }
  .needhelpdiv .sub-heading {
    font-size: 17px;
  }
  .needhelpbox p {
    font-size: 14px;
    line-height: 23px;
  }
.sitebannercontent h2 {
        font-size: 40px;
        line-height: 55px;
    }
}

@media(max-width:1130px)
{
  .sitebannercontent h2 {
    font-size: 37px;
    line-height: 53px;
  }
  .homebannerbg::before {
    height: 435px;
    background-position: bottom right 5px;
  }
  .homebannerbg p
  {
    padding-right: 90px;
  }
  .aboutpaymenticon
  {
    max-width: 390px;
  }
  .needhelpdiv img
  {
    max-width: 34px;
  }
  .helpicon
  {
    width: 60px;
    height: 60px;
  }
}



@media (max-width: 1080px) 
{  
  .howitworkbg .nav-pills .nav-link {
    padding: 15px 15px;
    font-size: 15px;
  }
  .headermenu .headbg .navbar-nav li a {
    padding: 9px 9px;
  }
  .contenthowbox {
    padding-right: 0px !important;
    padding-left: 0px !important;
  }
  .contenthowbox p {
    font-size: 15px;
    line-height: 26px;
  }
  .contenthowbox .sub-heading {
    font-size: 20px;
  }
  .himg {
    max-width: 315px;
  }
}

@media (max-width: 991px) {
  .loginbanner .headermenu .headbg .dropdown-item {
    color: #000 !important;
  }
  .loginbanner .headbg .navbar-collapse {
    border-color: #e1e1e1 !important;
  }
  .loginbanner .headermenu .dropdown-menu {
    background: #f0f0f0;
  }
  .loginbanner .headermenu .dropdown-menu .iconboxbg {
    background: #d8d8d8;
  }
  .loginbanner .headermenu .dropdown-menu .iconboxbg img {
    filter: grayscale(1) invert(1);
  }
  .dwnqr {
    text-align: left;
  }
  .downloadbg .h4 {
    font-size: 16px;
  }
  .downloadbg .row {
  flex-direction: column-reverse;
  }
  .qrbg 
  {
    width: 100%;
    max-width: 341px;
    margin: 0px auto;
    text-align: left;
    margin-top: 10px;
  }
  .footerbox .qrbg
  {
    max-width: 100%;
    margin: 0px;
  }
  .dwnimg {
    max-width: 426px;
    margin-top:20px;
  }
  .downloadbg {
    text-align: center;
  }
  .ourimg {
    max-width: 51px;
  }
  .ourbox {
    padding: 20px;
  }
  .tabrightbox.arwicon {
    top: 15px;
    bottom: inherit;
    right: 25px;
  }
  .ourbox .table-content > div:first-child {
    width: 100%;
    text-align: left;
  }
  .ourbox .table-content > div {
    display: block;
  }
  .topertable .table-content > div:first-child {
    width: 38px !important;
  }
  .borderbg.topertable {
    padding: 10px 15px;
  }
  .twotablesec .tabrightbox {
    right: 6px;
    top: 6px;
  }
  .borderbg {
    padding: 0;
  }
  .twotablesec .nav-tabs .nav-link {
    font-size: 15px;
  }
  .twotablesec .flexbox {
    flex-wrap: wrap;
  }
  .twotablesec .flexbox > div {
    width: 100% !important;
  }
  .twotablesec .flexbox > div:last-child {
    display: flex;
    gap: 10px;
    width: 100%;
  }
  .twotablesec .flexbox > div:last-child > div {
    width: 100%;
    margin: 0 !important;
  }
 
  .headermenu .dropdown-menu .iconboxbg img {
    filter: none;
  }
  .headermenu .headbg .dropdown-item {
    color: #fff !important;
  }
  .headermenu .dropdown-menu {
    background: #092330;
    box-shadow: none;
    margin-top: 10px;
  }
  .homebannerbg .bannersubmin {
    font-size: 36px;
  }

  .fltbg > div {
    width: 49%;
  }
  .fltbg > div:last-child {
    width: 100%;
    text-align: center;
  }
  .fltbg > div:last-child .btn {
    width: auto;
    padding: 10px 28px;
  }
  .fltbg,
  .h-box .flexbox {
    flex-wrap: wrap;
  }
  .h-box .flexbox > div {
    width: 49%;
  }
  .heading-title {
    font-size: 27px !important;
    line-height: 42px;
  }
  .headermenu .sitebtn,
  .headminborder {
    width: 100%;
    max-width: 128px;
    margin-top: 10px !important;
  }
  .langmenu,
  .modebg {
    width: 100%;
    max-width: 38px;
    margin-top: 10px !important;
  }
  .modebg {
    margin-left: 0px;
  }
  .headbg {
    padding: 13px 0px;
    position: fixed;
    background: #010d13;
  }
  .headbg .navbar-collapse {
    border-top: 1px solid #cacaca2b;
    margin-top: 15px;
    padding-top: 7px;
  }
  .headermenu .headbg .navbar-nav li a {
    padding: 8px 0px;
    font-size: 15px;
  }
  .homebannerbg .sitebannercontent {
    padding-top: 7vh;
  }
  .homebannerbg .row > div {
    text-align: center;
  }
  .homebannerbg .row>div:first-child
  {
    padding-bottom: 15px;
  }
  .homebannerbg .banner-img {
    max-width: 600px;
  }
  .homebannerbg .heading-title {
    font-size: 32px !important;
    line-height: 45px !important;
  }

  .chooseusdiv {
    flex-wrap: wrap;
  }
  .chooseusdiv > div {
    width: 47.5%;
    margin: 8px;
    padding-top: 27px;
    margin-bottom: 26px;
  }
  .footersubtn {
    width: 100%;
    max-width: 500px;
  }
  .footerbox .row {
    flex-wrap: wrap;
  }
  .footerbox .row > div {
    width: 33.3%;
    max-width: 33.3%;
    flex: 33.3%;
    margin-bottom: 15px;
  }
  .dwnqr p
  {
    text-align: left;
  }
  .logo-img {
    max-width: 118px;
  }
  .footerbottombg h3 {
  }

  .newlisttable {
    margin-top: 20px;
  }
  .footerbottombg h3 {
  }
  .modechanges {
    margin-top: 12px;
  }
  .footerbottombg h3 {
    font-size: 18px;
  }
  .footerbottombg .ftxt {
    text-align: start;
  }
  .footerbox {
    margin-bottom: 8px;
    padding-bottom: 23px;
  }
  .formboxbg {
    display: inline-block;
    width: 100%;
  }
  .formboxbg > div {
    display: inline-block;
    width: 100%;
  }
  .rightsideformbox
  {
    padding:25px;
  }
  .loginformbox {
    margin: 0px auto;
  }
  .loginlftimg img {
    max-width: 436px;
    margin-top: 0px;
    margin-bottom: 10px;
  }
  .formbg {
    padding-top: 74px;
  }
  .formboxbg .h2 {
    font-size: 29px;
    line-height: 39px;
  }
  .loginbanner {
    height: auto;
    background: #f5f5f5;
  }
  .leftsideformbox
  {
    background-image: url(../images/loginbg.png);
    background-position: top center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
  }
  .advbg .flexbox > div{
    padding: 12px 20px;
    border-radius: 12px;
  }
  .how-bg .flexbox >div:after{
    display: none;
  }
  .leftsideformbox img
  {
    max-width: 550px;
    display: block;
    margin: 0px auto;
  }
  .homebannerbg::before
  {
    background-position: center bottom;
  }
  .homebannerbg p
  {
    padding-right: 0px;
    font-size: 16px;
  }
  .sitebannercontent h2 {
    font-size: 31px;
    line-height: 40px;
    padding-bottom: 0px;
   }
   .ourflx
   {
    display: inline-block !important;
   }
   .ourflx > div
   {
    width: 46.5%;
    margin:9px;
    float: left;
   }
   .needhelpbg .d-flex
   {
    display: inline-block !important;
    width: 100%;
   }
   .needhelpbg .d-flex>div
   {
    width: 100%;
    margin: 7px 0px;
   }
   .f-logo
   {
    max-width: 100px;
   }
   .qrbg .h5
   {
    font-size: 16px;
   }
   .ieolaunchpad .flexbox {
    flex-wrap: wrap;
   }
   .ieolaunchpad .flexbox.pjbg > div:last-child, .ieolaunchpad .flexbox.pjbg > div:first-child, .ieolaunchpad .flexbox > div {
    width: 100% !important;
   }
   .ieo-banner{
    max-width: 100%;
   }
 
  .ieolisting .panelcontentbox{
    padding: 0px;
  }
  .ieo-content {
    padding-left: 0px;
  }
  .supportsearch .siteformbg .form-control, .supportsearch .siteformbg .input-group-text {
    height: 33px;
  }
}

@media (max-width: 767px) 
{
  .sitetable tbody tr td, .sitetable thead tr th
  {
    padding:9px 9px;
  }
  .hwbox, .hwbox>div:nth-child(even)>div:last-child, .hwbox>div:nth-child(even)>div:first-child
  {
    text-align:center
  }
  .hwbox>.row
  {
    flex-direction: column-reverse !important;
    margin-bottom: 31px;
  }
  .himg {
    max-width: 315px;
  }
  .arwimg {
    width: 20px;
  }
  .twotablesec .nav-tabs .nav-link {
    font-size: 14px;
    margin-left: 4px;
  }
  .fqr {
    max-width: 140px;
  }
  .fcontent {
    text-align: center;
  }
 
  .flex-box.ourflx > div {
    width: 100%;
    padding: 16px;
  }
  .homebannerbg .bannersubmin {
    font-size: 32px;
    line-height: 42px;
  }

  .innerpagecontent .h2 {
    font-size: 25px;
  }
  .mt-box .h4 {
    font-size: 20px;
  }
  .innerpagecontent {
    padding-bottom: 10px;
  }
 
  .usericont {
    margin-right: 0;
    margin-bottom: 5px;
  }
  .sitebtn {
    font-size: 15px;
  }
 
  .h-box .flexbox > div {
    padding: 12px 12px;
  }

  .h-box .flexbox {
    padding-top: 20px;
  }
  .advbox .h4,
  .h-box .h4 {
    font-size: 20px;
  }

  section {
    padding: 30px 0px;
  }
  .statisticsbg
  {
    padding: 25px 0px;
  }
  .heading-title {
    font-size: 26px !important;
    line-height: 45px;
    text-align: center !important;
  }
  .downloadbg .heading-title
  {
    font-size: 22px !important;
  }
  .sitetable tbody tr td {
    font-size: 14px;
  }
  .homebannerbg .heading-title {
    font-size: 28px !important;
    line-height: 42px !important;
  }
  .homebannerbg .banner-img {
    max-width: 520px;
  }
  .chooseusdiv > div {
    width: 100%;
    padding: 20px 20px;
    text-align: center;
    margin: 0px;
    margin-bottom: 53px;
  }
  .chooseusdiv > div:last-child
  {
    margin-bottom:0px;
  }
  .chooseicon
  {
    margin: 8px auto;
    margin-top: -45px;
    width: 60px;
    height: 60px;
  }
  .chooseusbox img {
    max-width: 35px;
  }
  .chooseus .row > div {
    text-align: center;
  }
  .needhelpdiv > div {
    width: 100%;
    text-align: center;
  }
  .helpicon
  {
    margin:0px auto;
    margin-bottom:10px;
  }
  .needhelpdiv .table-content > div:first-child {
    margin: 0px auto;
  }
  .needhelpdiv > div {
    padding: 19px 0px !important;
    border-bottom: 1px dashed #ccc;
  }
  .needhelpdiv > div:last-child
  {
    border:0px;
  }
  .needhelpbg .heading-title {
    text-align: center;
  }
  
  .twotablesec .subhead {
    font-size: 20px;
    line-height: 31px;
  }
  .table-responsive-stack tr {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
  }

  .table-responsive-stack td,
  .table-responsive-stack th {
    display: block;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    white-space: inherit !important;
    font-size: 14px;
    color: #fff;
  }

  .table-responsive-stack tr {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    border-bottom: 0;
    display: block;
  }

  .table-responsive-stack td {
    width: 100%;
    text-align: right;
    padding: 7px 10px !important;
    border-color: #26292f !important;
    /* color: #fff !important; */
    font-size: 13px;
    border-top: 0px !important;
  }

  .table-responsive-stack tbody > tr:nth-child(2) td {
    border-color: #e0e0e0;
  }

  .table-responsive-stack .table-responsive-stack-thead {
    float: left;
    text-align: left;
    padding-right: 10px;
    font-size: 14px;
    letter-spacing: 0px;
    color: #000000;
    font-weight: 600;
  }
  .table-responsive-stack tbody > tr:nth-child(odd) {
    background: #f4f4f4;
  }

  .table-responsive-stack tbody > tr:nth-child(even) {
    background: #ffffff !important;
  }
  .twotablesec .table-content {
    display: block;
  }
  .twotablesec .table-content > div {
    display: block;
  }
  .twotablesec .table-content > div:first-child {
    width: 100%;
    padding-right: 2px;
  }
  .twotablesec table .table-content > div {
    display: table-cell;
    vertical-align: top;
  }
  .twotablesec .coinname {
    font-size: 14px;
    line-height: 23px;
  }
  .needhelpdiv {
  display: inline-block;
  padding: 0px 15px;
  }
  .sub-heading {
    font-size: 18px;
    line-height: normal;
    padding-bottom: 5px;
  }
  .formboxbg .h2 {
    font-size: 20px;
    line-height: 28px;
  }
  .login-form .heading-title {
    font-size: 22px !important;
  }
  .howsec_img img {
    max-width: 350px;
  }
  .tradepicesubbg .h3 {
    font-size: 14px;
  }
  .form-group.has-error {
    position: relative;
  }
  .paymentdetails {
    display: inline-block;
    width: 100%;
    padding-top: 6px;
    position: relative;
  }
  .paymentlist li {
    float: left;
    padding: 0px 5px;
  }
  .paymentlist li > span {
    padding-left: 2px;
  }
  .paymenttoggleicon {
    position: absolute;
    top: -19px;
    right: 0px;
  }
  .cryptobg .usericont {
    float: right;
    margin-left: 5px;
    width: 27px;
    height: 27px;
  }
  .cryptobg .table-content {
    display: flex;
    flex-direction: row-reverse;
    width: auto;
  }

  .how-bg img, .adimg{
    max-width: 42px;
  }
  .simplebar-scrollbar:before
  {
    opacity: 0.5;
  }
  .notablehead .table-responsive-stack-thead
  {
    display: none !important;
  }
  .notablehead
  {
    text-align: center !important;
  }
  .notablehead .btn
  {
    width:100%;
  }
  .faqsecbanner .accordion-button {
    font-size: 15px;
    padding: 16px 0px;
    line-height: 23px;
  }
  .twotablesec .duration-days a {
    width: 35px;
    height: 31px;
    padding-top: 5px;
  }
  .leftsideformbox img {
    max-width: 321px;
  }
  .sitebannercontent h2 {
    font-size: 26px;
  }
  .aboutbg .row
  {
    flex-direction: column-reverse;
    text-align: center;
  }
  .cryptosupprtlist 
  { 
    display: flex;
    justify-content: center;
    margin-bottom: 23px;
    flex-wrap: wrap;
  }
  .ourflx > div
  {
   width: 100%;
   margin:7px 0px;
  }
  .communitybox
  {
    text-align: center;
  }
  .socialist li a {
    width: 35px;
    height: 35px;
  }
  .socialist
  {
    justify-content: center;
  }
  .footerbox .row > div 
  {
    width: 50%;
    max-width: 50%;
    flex: 50%;
  }
  .ftext
  {
    font-size: 14px;
  }
  .communitybox p {
    font-size: 15px;
 }
  .contenthowbox .sub-heading
  {
    font-size: 19px;
  }
  .appimg img {
    max-width: 114px;
  }
  .homebannerbg .sitebannercontent {
    padding-top: 10vh !important;
  }
  .faqpage .accordion-button
  {
    font-size: 15px;
    line-height: 24px;
  }
  .ieolaunchpad .panelcontentbox{
    padding: 15px;
  }
  .about-info
  {
    padding: 5px 0px;
  }
  .nodata .table-responsive-stack-thead
  {
    display: none !important;
  }
  .nodata td
  {
    text-align: center !important;
  }
  .nodata img {
    max-width: 83px;
    margin-top: 10px;
    margin-bottom: 10px;
  }
}

@media (max-width: 600px) 
{
  .homebannerbg .sitebannercontent {
    padding-bottom: 0;
  }
  .twotablesec .flexbox > div:last-child {
    flex-wrap: wrap;
  }
  .homebannerbg .bannersubmin {
    font-size: 28px;
  }
  .mrktab .twotablesec {
    padding-top: 40px;
  }
  .mrktab .tabbanner > li {
    width: 100%;
  }
  .marketpage .tabrightbox {
    position: relative;
    top: inherit;
    right: inherit;
    padding: 10px;
  }
  .mrktab .tabbanner {
    position: relative;
    margin-bottom: 0px;
  }
  .faqicon {
    width: 22px;
    height: 22px;
    margin-right: 11px;
    position: relative;
  }
  .advbox .content {
    padding: 0;
  }
  .h-box .table-content > div {
    display: block;
  }
  .h-box .table-content > div:first-child {
    width: 100%;
    padding-bottom: 10px;
  }
  .advbg .flexbox > div,
  .h-box .flexbox > div {
    text-align: center;
  }
  .adicon {
    margin: 0 auto;
    margin-bottom: 10px !important;
  }
  .homebannerbg .heading-title {
    font-size: 24px !important;
    line-height: 36px !important;
  }
  .homebannerbg .banner-img {
    max-width: 460px;
    margin-top: 20px;
  }

  .exploresecdiv > div {
    padding: 16px 10px;
  }
  .chooseusdiv > div,
  .needhelpdiv > div {
    padding: 17px 15px !important;
  }
.howitworkbg .borderbg
{
	padding:20px;
}
  .needhelpdiv .needhelpbox > div:first-child img {
    max-width: 40px;
  }
  .footersubtn .sitebtn {
    padding: 7px 18px;
    font-size: 13px;
  }
  .footerbottombg h3 {
    font-size: 17px;
    line-height: 22px;
    padding-bottom: 0px;
  }
  .logo-img {
    max-width: 98px;
  }
  .carouselbannerbg {
    background: #fff;
    padding: 20px 0px;
  }
  .orgtxt {
    font-size: 13px;
    line-height: 26px;
  }
  .tableviewsec {
    top: 5px;
  }
  .loginformbox {
    padding: 28px;
  }
  .modal-body {
    padding: 17px;
  }
  .qrbg .h5 {
    font-size: 14px;
    line-height: 22px;
 }
 .qrborderbox
 {
  width: 80px;
  height: 80px;
 }
 .qrbg>div:first-child {
  width: 128px;
  }
  .socialterms {
    flex-wrap: wrap;
    gap: 8px;
  } 
  .ieo-banner{
    min-height: 180px;
  }
  .ieo-banner img {
    max-width: 92px;
  }
  .ieo-content .btn
  {
    width: 100%;
  }
  .ieolaunchpad.panelcontentbox
  {
    padding: 15px;
  }
  .ieolaunchpad .h3 {
    font-size: 18px;
  }
}

@media (max-width: 500px) 
{
  .mt-tabel > div:last-child {
    width: 40%;
  }
  .mt-tabel .h5 {
    font-size: 15px;
  }
  .mt-tabel .h6 {
    font-size: 13px;
  }
  .mrktab .tabbanner {
    flex-wrap: wrap;
    border-radius: 5px;
    border: 0;
  }
  .mrktab .tabbanner > li {
    padding: 0;
  }
  .fltbg > div {
    width: 100%;
  }
  .heading-title {
    font-size: 25px !important;
    line-height: 32px;
  }
  .homebannerbg .sitebtn {
    padding: 9px 22px;
    font-size: 14px;
  }
  .carouselbannerbg .owl-stage {
    padding-top: 8px;
  }
  .intl-tel-input .country-list {
    white-space: normal;
    width: 350px !important;
  }
  .twotablesec .table-content img {
    width: 22px;
  }
  .sitetable tbody tr td {
    font-size: 13px;
  }
  .sitebannercontent h2 {
    font-size: 21px;
    line-height: 30px;
  }
  .homebannerbg p {
    font-size: 15px;
    line-height: 27px;
  }
  .footerbox .row > div 
  {
    width: 100%;
    max-width: 100%;
    flex: 100%;
  }
  .filterbtn{
    font-size: 13px;
    padding: 2px 10px;
    margin-right: 2px;
    width: 48%;
  }
  .ieobg
  {
    padding: 16px 0px;
  }
 
}

@media (max-width: 490px) 
{
  .homebannerbg .heading-title {
    font-size: 26px !important;
    line-height: 40px !important;
  }
  .aboutpaymenticon {
    max-width: 296px;
  }
  .startradebg .heading-title
  {
    font-size: 19px !important;
    line-height: 25px;
  }
  .subscibefrmbg .input-group
  {
    display: block;
    width: 100%;
  }
  .subscibefrmbg .form-group
  {
    background: none;
    border: 0px;
  }
  .subscibefrmbg .form-control
  {
    background-color: #081e34;
    border: 1px solid #1d3b59;
    border-radius: 5px !important;
    margin-bottom: 10px;
    width: 100%;
    height: 45px;
  }
  .subscibefrmbg .input-group-text
  {
    margin-top: 10px;
    text-align: center;
    justify-content: center;
  }
  #rc-imageselect,
  .g-recaptcha {
    display: inline;
  }

  #rc-imageselect {
    max-width: 100%;
  }

  .g-recaptcha > div > div {
    width: 100% !important;
    height: 78px;
    transform: scale(0.88);
    webkit-transform: scale(0.88);
    text-align: center;
    position: relative;
    transform-origin: 0 0;
    -webkit-transform-origin: 0 0;
  }
  .g-recaptcha > div
  {
    margin:0px;
    max-width: 234px;
    margin-bottom: -23px;
  }
}

@media (max-width: 430px) 
{
  .footerbottombg .footerbox .row>div 
  {
    width: 100% !important;
    margin-bottom: 8px;
  }
  .footerbottombg .footerbox .row>div:last-child
  {
    margin-bottom: 0px;
  }
  .homebannerbg .bannersubmin {
    font-size: 24px;
    line-height: 29px;
  }
  .homebannerbg .heading-title {
    font-size: 23px !important;
    line-height: 32px !important;
  }

  .heading-title {
    font-size: 21px !important;
  }
  .loginformbox {
    padding: 20px;
  }
  .formboxbg .h2 {
    font-size: 20px;
    line-height: 27px;
  }
  label {
    font-size: 14px;
  }
  .login-form .form-control,
  .login-form .input-group-text {
    height: 40px;
    font-size: 14px;
  }
  .sitebtn {
    font-size: 15px;
  }
  .btn-sm {
    padding: 5px 15px;
    font-size: 14px;
}
  .tabbanner li a {
    font-size: 14px;
  }

  .intl-tel-input .country-list {
    width: 280px !important;
  }
  .sub-heading, .ourbox .sub-heading {
    font-size: 17px;
  }

}

@media (max-width: 400px) 
{

  .login-form .heading-title {
    font-size: 21px !important;
  }
  .otpverifybg .form-control {
    margin: 3px;
  }
  .logcenterbox .tabbanner {
    margin-top: 0px;
  }
  .login-form .phonetab .input-group {
    display: inline-block;
  }
  .login-form .phonetab .form-control {
    width: 100%;
    display: inline-block;
    margin-top: 4px;
  }
  .login-form .phonetab .input-group-text .form-control,
  .login-form .phonetab .input-group-text,
  .intl-tel-input {
    width: 100% !important;
  }
  .login-form .phonetab .input-group-text {
    padding-right: 0px;
  }

}


@media (max-width: 360px) 
{
  .twotablesec .nav-tabs .nav-link {
    padding: 10px 3px;
  }
  .formcontentbox .form-group {
    margin-bottom: 15px !important;
  }
  .tabbanner {
    margin-top: 0px;
  }
  .formboxbg p {
    margin-bottom: 15px;
    line-height: 20px;
    font-size: 13px;
  }
  .intl-tel-input .country-list {
    width: 250px !important;
  }
  .row.launch-bg > div {
    width: 100%;
   }
   .row.launch-bg > div h4{
    text-align: center !important;
   }
   .ieo-content .readmorebtn, .ieo-content, .ieolaunchpad .h3{
    text-align: center !important;
   }
   .ieolaunchpad .flexboxb, .ieolaunchpad .flexboxb>div{
    display: block;
    text-align: center !important;
   }
   .ieolaunchpad .flexboxb>div:last-child
   {
    font-weight: 600;
   }
   .ieolaunchpad .flexboxb{
    margin-bottom: 10px;
   }
   .ieolaunchpad .flexboxb{
    padding-bottom: 0px;
   }
   .innerpagebg p {
    font-size: 14px;
    line-height: 25px;
   }
   .g-recaptcha > div > div 
   {
    transform: scale(0.75);
    webkit-transform: scale(0.75);
  }
}

@media (max-width: 320px) {
  .login-form .heading-title {
    font-size: 17px;
  }
  .loginformbox {
    padding: 15px;
  }
}

@media(max-height:650px){
  .homebannerbg .sitebannercontent{
    padding-top: 9vh;
  }
}

/*nightmode css start*/
.nightmode
{
  background-color: #00070e;
  color: #fff;
}

.nightmode .lightthemeicon
{
  display: inline-block;
}
.nightmode .darkthemeicon
{
  display: none;
}
.nightmode .headbg .lightthemeicon
{
  display: none;
}
.nightmode .headbg .darkthemeicon
{
  display: inline-block;
}
.nightmode .footerbottombg section
{
  background: #00070e;
}
.nightmode .borderbg, .nightmode .chooseusdiv > div, .nightmode .ourbox, .nightmode .needhelpdiv,
.nightmode .loginformbox
{
  background: #02111f;
  border-color: #001d3a;
}
.nightmode .sitetable thead tr th, .nightmode .twotablesec .nav-tabs .nav-link.active
{
  background-color: #02111f;
}
.nightmode .twotablesec .nav-tabs .nav-link.active, .nightmode .footerbottombg h3, .nightmode .ftext,
.nightmode.loginbanner .headermenu .headbg .navbar-nav li a, .nightmode.loginbanner .headermenu .headbg .dropdown-item,
.nightmode .tabbanner li a.active, .nightmode.loginbanner .headermenu .headbg li a.sitebtn.borderbtn
{
  color: #fff;
}
.nightmode .twotablesec .nav-tabs, .nightmode .footerbox, .nightmode .tabbanner
{
  border-color: #001d3a;
}
.nightmode .sitetable thead tr th, .nightmode .sitetable tbody tr td, .nightmode .twotablesec .nav-tabs .nav-link,
.nightmode p, .nightmode .content, .nightmode .footerbottombg ul li a, .nightmode .tabbanner li a, .nightmode .tabbanner li a:hover
{
  color:#6787a6;
}
.nightmode .howitworkbg .borderbg
{
  background: none;
}
.nightmode .statisticsbg, .nightmode .aboutbg
{
  background:#02111f
}
.nightmode .partnerlist img
{
 filter:grayscale(1)invert(1);
}
.nightmode .qrborderbox
{
  background: #fff;
}
.nightmode .toolicon, .nightmode .helpicon, .nightmode .chooseicon
{
  background: #010c16;
  border-color:#001d3a;
}
.nightmode .communitybox
{
  background:#001c35;
}
.nightmode .startradebg
{
  background: url(../images/tradebg1.png);
}
.nightmode .subscibefrmbg .form-group {
  background-color: #010c16;
  border-color:#062341;
}
.nightmode.loginbanner .headbg
{
  background: #051a2d;
}
.nightmode.loginbanner .lightthemeicon
{
  display: none;
}
.nightmode.loginbanner .darkthemeicon
{
  display: inline-block;
}
.nightmode .rightsideformbox
{
  background: #00070e;
}
.nightmode .login-form .form-control, .nightmode .login-form .input-group-text, 
.nightmode .siteformbg .form-control, .nightmode .siteformbg .input-group-text
{
  background-color: #051c31;
  border-color: #0b2b49 !important;
  color: #fff;
}
.nightmode label, .nightmode .login-form .loginsitelnk a
{
  color: #e7e7e7;
}
.nightmode .login-form .loginsitelnk
{
  border-color: #04284c;
}
.nightmode.loginbanner
{
  background:#02111f;
}
.nightmode.loginbanner .modebg img {
  filter: inherit;
}
.nightmode .panelcontentbox, .nightmode .contactboxfrm .loginformbox
{
  background: #071b2d;
}
.nightmode.innerpagebg
{
  background: #02111f;
}
.nightmode.innerpagebg .headbg, .nightmode.loginbanner .headbg
{
 background: #051a2d;
}
.nightmode .filterbtn{
  border-color: #112d47;
  color: #939393;
}
.nightmode .ieolaunchpad .tablft, .nightmode .ieolaunchpad .tabrgt{
  color: #ffffff;
}
.nightmode .ieobg{
 border-color: #0e2a43;
}
.nightmode .ieobg hr{
  background-color: #183a59;
}
.nightmode .socialterms a{
  background: #02111f;
  color: #fff;
}
.nightmode .about-order{
  background: #02111f;
  border-color: #041d35;
}
.nightmode .about-box .about-info:nth-child(odd) {
  background: #02111f;
}
.nightmode .about-info{
  border-color: #02111f;
}
.nightmode .ieotablesec .sitetable thead tr th{
 background-color: transparent;
 border-color: #09233a !important;
}
.nightmode .ieolaunchpad .flexboxb>div{
  color: #fff;
}

@media (max-width:991px)
{
  .nightmode .leftsideformbox
  {
    background: #02111f;
  }
}
@media (max-width:767px)
{
  .nightmode .table-responsive-stack tbody > tr:nth-child(odd) {
    background: #02111f;
  }
  .nightmode .table-responsive-stack tbody > tr:nth-child(even) {
    background: #051829 !important;
  }
  .nightmode .table-responsive-stack .table-responsive-stack-thead
  {
    color: #fff;
  }
  .nightmode .needhelpdiv > div
  {
    border-color: #04284c;
  }

}
/*nightmode css end*/